<section class="bg-primary row search-section justify-content-md-center">
    <div class="col-8 text-center">
        <h1 class="my-5">
            Finding college textbooks at the cheapest price.
            <br />Guaranteed.
        </h1>
        <div class="input-group input-group-lg mb-3">
            <input type="text" class="form-control" aria-label="Enter " placeholder="Enter ISBN, Title, or Author's Name">
            <div class="input-group-append" data-toggle="tooltip" data-placement="top" title="Add more books">
                <button class="btn btn-secondary" type="button">+</button>
            </div>
        </div>
    </div>
</section>
